{% extends 'master.html' %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Koordinatko</a>
        </div>
      </div>
    </nav>

    <div class="container">

        {% if message %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nov vnos</h3>
            </div>
            <div class="panel-body">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <h4>Prva točka</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="x1">Koordinata X</label>
                                <input type="text" class="form-control" name="x1" id="x1" placeholder="Koordinata X">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="y1">Koordinata Y</label>
                                <input type="text" class="form-control" name="y1" id="y1" placeholder="Koordinata Y">
                            </div>
                        </div>
                    </div>


                    <h4>Druga točka</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="x2">Koordinata X</label>
                                <input type="text" class="form-control" name="x2" id="x2" placeholder="Koordinata X">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="y2">Koordinata Y</label>
                                <input type="text" class="form-control" name="y2" id="y2" placeholder="Koordinata Y">
                            </div>
                        </div>
                    </div>

                  <button type="submit" class="btn btn-success">Dodaj</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pregled koordinat</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">X1</th>
                            <th class="text-center">Y1</th>
                            <th class="text-center">X2</th>
                            <th class="text-center">Y2</th>
                            <th class="text-center">Razdalja</th>
                            <th class="text-center">Odstrani</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for pair in points %}
                            <tr class="text-center">
                                <td>{{pair.x1|floatformat:3}}</td>
                                <td>{{pair.y1|floatformat:3}}</td>
                                <td>{{pair.x2|floatformat:3}}</td>
                                <td>{{pair.y2|floatformat:3}}</td>
                                <td>{{pair.distance|floatformat:3}}</td>
                                <td><a href="#" class="remove-pair" pair_id="{{ pair.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}